<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @site_appraisal.address %>
</p>

<p>
  <strong>Lease length:</strong>
  <%= @site_appraisal.lease_length %>
</p>

<p>
  <strong>Fixed or rising:</strong>
  <%= @site_appraisal.fixed_or_rising %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @site_appraisal.rent %>
</p>

<p>
  <strong>Rent free:</strong>
  <%= @site_appraisal.rent_free %>
</p>

<p>
  <strong>Rateable value:</strong>
  <%= @site_appraisal.rateable_value %>
</p>

<p>
  <strong>Service charge:</strong>
  <%= @site_appraisal.service_charge %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @site_appraisal.insurance %>
</p>

<p>
  <strong>Utilities:</strong>
  <%= @site_appraisal.utilities %>
</p>

<p>
  <strong>Members of staff:</strong>
  <%= @site_appraisal.members_of_staff %>
</p>

<p>
  <strong>Estimated total wages:</strong>
  <%= @site_appraisal.estimated_total_wages %>
</p>

<p>
  <strong>Cost of sales as percentage of turnover:</strong>
  <%= @site_appraisal.cost_of_sales_as_percentage_of_turnover %>
</p>

<p>
  <strong>Projections:</strong>
  <%= @site_appraisal.projections %>
</p>

<p>
  <strong>Fit out:</strong>
  <%= @site_appraisal.fit_out %>
</p>

<p>
  <strong>Designs:</strong>
  <%= @site_appraisal.designs %>
</p>

<p>
  <strong>Planning application:</strong>
  <%= @site_appraisal.planning_application %>
</p>

<p>
  <strong>Legal fees:</strong>
  <%= @site_appraisal.legal_fees %>
</p>

<p>
  <strong>Building survey:</strong>
  <%= @site_appraisal.building_survey %>
</p>

<p>
  <strong>Surveyor:</strong>
  <%= @site_appraisal.surveyor %>
</p>

<p>
  <strong>Stamp duty:</strong>
  <%= @site_appraisal.stamp_duty %>
</p>

<%= link_to 'Edit', edit_site_appraisal_path(@site_appraisal) %> |
<%= link_to 'Back', site_appraisals_path %>
