<h1>Listings</h1>

<% @listings.each do |listing| %>
  <!-- <%= link_to listing do %> -->
    <div class="card">
      <div class="card-header">
        <h3 class="listing-text"><%= listing.company_name %></h3>
      </div>
      <div class="card-body">
        <p><%= listing.short_description %></p>
        <p><%= listing.long_description %></p>
        <h6>Requirement</h6>
        <p><%= listing.requirement %></p>
        <h6>Top 3 Target Locations</h6>
        <p><%= listing.top_three_target_locations %></p>
        <h6>Size Guide</h6>
        <p><%= listing.size_guide %></p>
        <h6>Budget</h6>
        <p><%= listing.budget %></p>
        <p><%= User.find_by(id: listing.user_id).email %></p>
        <p><%= link_to 'Show', listing %></p>
        <% if listing.user == current_user %>
          <p><%= link_to 'Edit', edit_listing_path(listing) %></p>
          <p><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <%else%>
          <p></p>
          <p></p>
        <% end %>
      </div>
    </div>
    <br/>
  <!-- <% end %> -->
<% end %>


<br>

<%= link_to 'New Listing', new_listing_path, class:"btn btn-secondary" %>
