<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to 'Hub', hub_index_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Get Started", hub_get_started_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "My Listings", hub_my_listings_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Growth Intelligence", hub_growth_intelligence_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Marketing Suite", hub_marketing_suite_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Site Appraisal Tool", hub_site_appraisal_tool_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Leasing Guide", hub_leasing_guide_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Community", hub_community_path, class:"nav-link"%>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to 'Hub', hub_index_path, class:"nav-link", id:"hub-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Get Started", hub_get_started_path, class:"nav-link", id:"get-started-link"%>
  </li>
  <li class="nav-item">
    <%= link_to "My Listings", hub_my_listings_path, class:"nav-link", id:"my-listings-link"%>
  </li>
  <li class="nav-item">
    <%= link_to "Growth Intelligence", hub_growth_intelligence_path, class:"nav-link", id:"growth-intelligence-link"%>
  </li>
  <li class="nav-item">
    <%= link_to "Marketing Suite", hub_marketing_suite_path, class:"nav-link", id:"marketing-suite-link"%>
  </li>
  <li class="nav-item">
    <%= link_to "Site Appraisal Tool", hub_site_appraisal_tool_path, class:"nav-link", id:"site-appraisal-tool-link"%>
  </li>
  <li class="nav-item">
    <%= link_to "Leasing Guide", hub_leasing_guide_path, class:"nav-link", id:"leasing-guide-link"%>
  </li>
  <li class="nav-item">
    <%= link_to "Community", hub_community_path, class:"nav-link", id:"community-link"%>
  </li>
</ul>
<br/>

<script>
  setTabToActive = (link) => {
    var element = document.getElementById(link);
    element.classList.add("active");
  }
</script>