<%= render 'hub/header'%>

<h1>My Listings</h1>
<% @listings.each do |listing| %>
  <% if listing.user == current_user%>
    <div class="card">
      <div class="card-header">
        <%= link_to listing do%>
          <h3 class="listing-text"><%= listing.company_name %></h3>
        <%end%>
      </div>
      <div class="card-body">
        <p><%= listing.short_description %></p>
        <p><%= listing.long_description %></p>
        <h6>Requirement</h6>
        <p><%= listing.requirement %></p>
        <h6>Top 3 Target Locations</h6>
        <p><%= listing.top_three_target_locations %></p>
        <h6>Size Guide</h6>
        <p><%= listing.size_guide %></p>
        <h6>Budget</h6>
        <p><%= listing.budget %></p>
      </div>
    </div>
    <br/>
  <% end %>
<% end %>
<br>
<%= link_to 'New Listing', new_listing_path, class:"btn btn-secondary" %>